lightning
torch
tqdm
pandas
pytest
wandb
absl-py
rootutils
shellcheck-py
interrogate
black
isort
pre-commit
hydra_colorlog
torchmetrics
mypy
torch_geometric
transformers
rich
xformers
scikit-learn
emoji
Pillow
